.card {
    border: solid 5px grey;
    background-color: #470012;
    padding: 1rem;
    margin: 2rem;
    color: #fff;
}


.btn {
    border: #857e7e solid 5px;
    background-color: black;
    color: white;
    font-weight: bold;

}