button {
    padding: 10px 25px;
    border-radius: 50px;
    border: 0;
    background-color: #282828;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 12px;
    transition: all .5s ease;
    color: #ffffff;
}

button:hover {
    letter-spacing: 3px;
    background-color: hsl(339, 100%, 24%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(122, 0, 43) 0px 7px 29px 0px;
}

button:active {
    letter-spacing: 3px;
    background-color: hsl(339, 100%, 24%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(122, 0, 43) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}