.cards {
    display: inline-block;
}

.card {
    border: solid 5px grey;
    background-color: #470012;
    padding: 2rem;
    color: #fff;
    width: 30rem;
    display: inline-flex;
    flex-flow: wrap;
    margin: 15px;
    justify-content: space-evenly;
}


button {
    border: #857e7e solid 2px;
    background-color: black;
    color: white;
    font-weight: bold;

}