
.card {
    --flow-space: 0.5em;
    --hsl: var(--hue), var(--saturation), var(--lightness);
    align-items: start;
    color: #eceff1;
    background-color: #2b2b2b;
    border: 1px solid #eceff133;
    border-radius: 15px;
    padding: 2rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-evenly;
    flex: 1 0 calc(25% - 15px);
    aspect-ratio: 1/1;
}

.profile-ads-cards {
    height: 100px;
}

a:link {
    color: #ffffff;
    background-color: transparent;
}

a:visited {
    color: #ffffff;
}

h5 {
    font-weight: 600;
    font-size: 2.25em;
    margin-bottom: 0.75em;
    text-align: center;
    color: #eceff1;
}

.cards {
    position: relative;
}


.card:nth-child(1) {
    --hue: 165;
    --saturation: 82.26%;
    --lightness: 51.37%;
}


.card__heading {
    font-size: 1em;
    font-weight: 500;
}

.ad_details {
    font-size: 1.50em;
    font-weight: 350;
    text-align: center;
    width: 100%;
}

.flow > * + * {
    margin-top: var(--flow-space, 1.25em);
}

.cta {
    display: block;
    align-self: end;
    margin: 1em 0 0.5em 0;
    text-align: center;
    text-decoration: none;
    color: #5e5e5e;
    background-color: transparent;
    outline: 1px solid #980b0b;
    padding: 0.7em;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
}

.card:hover {
    --lightness: 80%;
    background: #490000;
    color: #ffffff;
    outline: 1px solid rgb(87, 0, 0);
    box-shadow: inset 0 0 80px #570000, inset 20px 0 80px rgb(126, 0, 22),
    inset -20px 0 80px #570000, inset 20px 0 300px #7e0016, inset -20px 0 300px #570000,
    0 0 50px #570000, -10px 0 80px #7e0016, 10px 0 80px #570000;
    transition: all ease-in-out 0.3s;
}

.card:hover > .cta {
    outline: none;
    background-color: #0d0d0d;
}
