.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    border: solid 1px #857e7e;
    background-color: #1a1a1a;
    padding: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-evenly;
    flex: 1 0 calc(25% - 15px);
}


button, input {
    border: #857e7e solid 1px;
    background-color: #1a1a1a;
    color: white;
    font-weight: bold;
}

