body {
    background-image: url('img/stained glass.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
.content {
    text-align: center;
    padding: 100px;
    color: white;
}
h1{
    font-family: 'Pirata One', cursive;
    color: #eeebe2;
    font-size: 12em;
}
h2{
    font-family: 'Playfair Display', serif;
    color: #eeebe2;
    font-size: 3em;
}

/*this is for the index navbar*/
.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);

}
/*this is for the words*/
.navbar-default .navbar-nav>li>a {

    color: #eeebe2;
    font-size: 15px;

}
.navbar-default .navbar-brand {

    color: #eeebe2;
}
.enter-btn{
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    color: #470012;
}