.container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 8rem;
    /*margin-left: 22rem;*/
    text-align: center;
}
img{
    height: 60rem;
}